.clock {
    border-radius: 50%;
    background: #fff url(/img/clock.png) no-repeat center;
    background-size: 88%;
    height: 20em;
    padding-bottom: 25%;
    position: relative;
    width: 45%;
    margin-left: 35%;
  }
  
  .clock.simple:after {
    background: #000;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    z-index: 10;
  }
  .minutes-container, .hours-container, .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .hours {
    background: #000;
    height: 20%;
    left: 48.75%;
    position: absolute;
    top: 30%;
    transform-origin: 50% 100%;
    width: 2.5%;
  }
  .minutes {
    background: #000;
    height: 40%;
    left: 49%;
    position: absolute;
    top: 10%;
    transform-origin: 50% 100%;
    width: 2%;
  }
  .seconds {
    background: #000;
    height: 45%;
    left: 49.5%;
    position: absolute;
    top: 14%;
    transform-origin: 50% 80%;
    width: 1%;
    z-index: 8;
  }

  @keyframes rotate {
    100% {
      transform: rotateZ(360deg);
    }
  }
  .hours-container {
    animation: rotate 720s infinite linear;
  }
  .minutes-container {
    animation: rotate 60s infinite linear;
  }
  .seconds-container {
    animation: rotate 1s infinite linear;
  }

  a{
    width: 150px;
    height: 45px;
    border-radius: 15px;
    position: absolute;
    top: 300px;
    background-color: black;
    text-decoration: none;
    text-align: center;
    color: lime;
    padding: 15px;
    border: 1 px solid lime;
    font-size: 25px;
  }










.cube{
  position: absolute;
  width: 3.5%;
  height: 7%;
  background-color: aqua;
  left: 2%;
  top: 1%;
  z-index: 1;
  animation: mover 14s infinite alternate;
}

@keyframes mover{
  0%{
    top: 1%;
    background-color: aqua;
  }
  7%{
    top: 88%;
    left: 2%;
    transform: rotateZ(0deg);
  }
  14%{
    top: 90%;
    left: 30%;
    transform: rotateZ(720deg);
    background-color: rgb(0, 140, 255);
  }
  21%{
    top: 80%;
    left: 30%;
  }
  28%{
    transform: rotateZ(-900deg);
    top: 40%;
    left: 11%;
    background-color: rgb(47, 0, 255);
  }
  35%{
    transform: rotateZ(360deg);
    top: 5%;
    left: 25%;
    background-color: rgb(119, 0, 255);

  }
  42%{
    transform: rotateZ(1440deg);
    top: 5%;
    left: 77%;
    border-radius: 0px;
    background-color: rgb(162, 0, 255);

  }
  49%{
    top: 8%;
    left: 85%;
    transform: scaleX(1.7) scaleY(1.7);
    border-radius: 20px;
  }
  56%{
    top: 37%;
    left: 90%;
    transform: rotateZ(360deg);
    background-color: rgb(255, 0, 212);

  }
  63%{
    top: 88%;
    left: 90%;
    transform: rotateZ(1440deg);
    background-color: rgb(255, 0, 55);

  }
  70%{
    top: 90%;
    left: 80%;
    transform: rotateZ(1440deg);
    background-color: aqua;

  }
  77%{
    top: 80%;
    left: 65%;
    transform: rotateZ(360deg);
    background-color: rgb(0, 255, 157);

  }
  84%{
    top: 27%;
    left: 65%;
    transform: rotateZ(-720deg);
    background-color: rgb(157, 255, 0);

  }
  91%{
    top: 27%;
    left: 40%;
    transform: rotateZ(1440deg);
    background-color: rgb(229, 255, 0);

  }
  100%{
    top: 110%;
    left: 40%;
    background-color: rgb(255, 0, 0);

  }
  
}